body{
  background: #1a2125;
  font-family: "Raleway", sans-serif;  
  position: absolute;
  text-shadow: 2px 2px 2px darkblue; 
}
#canvas, #first-screen {
    border: 2px solid gray;
    border-radius:50px; 
    background: url("http://bit.ly/UpQgJ6");
    -webkit-filter:grayscale(10%);
    color: white;
}
h1{
  color: #7FFFD4; 
} 
#title{
    position:absolute;
    margin-top:-525px;
    margin-left:30px; 
    font-size:40px;    
    background: none;
}
#subtitle{
    color:#39FF14;  
    font-size:30px;  
    margin-left:30px;
    margin-top:-490px;
    text-shadow: 2px 2px 2px darkblue;
    position:absolute; 
}  
.menu{
   background-color:rgba(100, 300, 220, .5);   
    border-radius:45px;  
    width:600px;
    height:100px;
    box-shadow: 5px 5px 5px black;
    position:absolute;
    opacity: 0.9;
    position: relative;
    margin:40px auto; 
    margin-left: 200px;
}
.highlighted{
  background:rgba(100,300,260,.5);
  opacity: 0.9; 
  -webkit-box-shadow: 0 0 8px darkblue;
  -moz-box-shadow: 0 0 8px darkblue;
  box-shadow: 2px 2px 8px darkblue;
  cursor:pointer;
} 
.menu h1{     
  position:relative;
  margin-left:20px; 
  padding: 15px;
}
  .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "raleway", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
.options-highlighted{
  color:white;
}
#wasd div, #up-down-left-right div{
  display:inline-block;
}
#controls-list li {
  list-style-type: none;
}
#bgm-volume-value, #sfx-volume-value{
  width:300px;
  cursor:pointer;
}
#main{ 
  position:absolute;
  margin-top:-680px;
  margin-left: 50px;
}
#single-player{ 
   margin-top: -620px;
}
#options-field, #controls-field{
  width:900px;
  height:700px;
  color:rgba(100,100,100,.6);
  background:gray;
  opacity:0.7;
  border-radius:50px;
  margin-top:-727px;
  margin-left:2px;
  position:relative;
}
#options-menu li{
  list-style-type: none;
  padding:10px;  
  font-size: 12.5px;
}
#swatch {
    width: 120px;
    height: 100px; 
    position:absolute;
    color: red;
    border: 2px solid gray;
    background-image:none;  
    border-radius: 20px;
    margin-left: 325px;
    margin-top: -110px; 
}
#red, #blue, #green{
  background-color:red;
  width: 300px;
}
#green{
  color:green;
}
#blue{
  color: blue;
}
.esc{
  text-align:center;
  background:rgba(100, 300, 220, .5);
  width:150px;
  height:40px;
  border-radius:45px;
  font-size:35px;
  margin: 10px auto;
  margin-left:675px;
  margin-top:22px;
}
.controls-buttons{
  width:100px;
  height:50px;
  background-color:blue;
  color: lightblue;
  text-align:center;
  border-radius: 20px;
  opacity:.8;
  font-family: "Black Ops One";
}
.afterscreen{
      color:white;
      width:400px;
      height:100px;
      text-shadow: 3px 3px 3px darkblue;
      text-align:center;
      border-radius:20px;
      background:rgba(135,170,200,.5);
      font-size:70px;
      position:absolute;
      margin-top:-450px;
      margin-left:175px;
      padding:20px;
}
#replay{
      margin-top:-300px;
}
#up-down-left-right{
  margin-top:10px;
}
#back-controls-div{
  margin-top:0px;
}
#back-button{
  position:absolute;
  text-align:center;
  background:rgba(100, 300, 220, .5);
  width:150px;
  height:40px;
  border-radius:45px;
  font-size:35px;
  margin: 10px auto;
  margin-left:735px;
  margin-top:-700px;
}
